<!DOCTYPE html>
<html>
  <body>
    <h1>oauth success!</h1>

    <dl>
      <dt>access token</dt>
      <dd><%= @access_token.token %></dd>
      <dt>secret</dt>
      <dd><%= @access_token.secret %></dd>
      <dt>user id</dt>
      <dd><%= @access_token.params['user_id'] %></dd>
      <dt>secret</dt>
      <dd><%= @access_token.params['screen_name'] %></dd>
    </dl>

    <p><%= @access_token.inspect %></p>
  </body>
</html>
